<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    a {
        color: #000;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<header class="container p-4 vh-20 vw-100" style="font-size: 25px; text-align: left; margin-left:0px;">
    <div>
        <a href='/admin/dashboard'>
            Home
        </a>
        <a href="/admin/quiz">
            Quiz
        </a>
        <a href="/admin/summary">
            Summary
        </a>
        <a href="/admin/logout">
            Log Out
        </a>
        <div style="position: absolute; right: 0; top: 0; padding-top: 20px; padding-right: 30px">
            <a href="/admin/search">Search</a>
        <!--<input type="text" placeholder="Search" style="text-align: right; position: right">-->
        </div>
    </div>
</header>
<body>
    <div class="container vw-100"  style="text-align:center">
        <div class="container vw-100 p-4" style="text-align: center;">
            <h1>View Quiz</h1>
        </div>
        <div class="card p-1 shadow-lg ">
            <div class="card-body">
                <div class="p-4">
                    <h1 class="text-center">
                        {{ quiz['name'] }}
                    </h1>
                </div>
                <div class="p-4">
                    <p class="text-center">
                        <b>
                            Subject: 
                        </b>{{ quiz['subject'] }}
                    </p>
                </div>
                <div class="p-4">
                    <p class="text-center">
                        <b>
                            Chapter: 
                        </b>{{ quiz['chapter'] }}
                    </p>
                </div>
                <div class="p-4">
                    <p class="text-center">
                        <b>
                            Date of Quiz: 
                        </b>{{ quiz['date'] }}
                    </p>
                </div>
                <div class="p-4">
                    <p class="text-center">
                        <b>
                            Duration: 
                        </b>{{ quiz['duration'] }}
                    </p>
                </div>
                <div class="p-4">
                    <p class="text-center">
                        <b>
                            Remarks: 
                        </b>{{ quiz['remarks'] }}
                    </p>
                </div>
                <div class="p-4">
                    <a href="{{ url_for('delete_quiz', quiz_id = quiz['id'])}}" >
                        <button class="btn btn-danger">
                            Delete Quiz
                        </button>
                    </a>
                </div>
            </div>
        </div>            
    </div>
</body>
<footer>

</footer>