<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    a {
        color: #000;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    tr {
        margin-left: 10px;
        margin-right: 10px;
    }
</style>
<header class="container p-4 vh-20 vw-100" style="font-size: 25px; text-align: left; margin-left:0px;">
    <div>
        <a href='/student/dashboard'>
            Home
        </a>
        <a href="/student/scores">
            Scores
        </a>
        <a href="/student/summary">
            Summary
        </a>
        <a href="/student/logout">
            Log Out
        </a>
        <div style="position: absolute; right: 0; top: 0; padding-top: 20px; padding-right: 30px">
            <input type="text" placeholder="Search" style="text-align: right; position: right">
        </div>
    </div>
</header>
<body>
    <div class="container-lg p-4 vh-20 vw-100" style="background-color: #EEE; max-width:100%">
        <h1 style="padding-left: 40px; padding-top: 10px;">Welcome User</h1>
    </div>
    <div class="container vw-100 "  style="text-align:center">
        <div class="container vw-100 p-4" style="text-align: center;">
            <h1>Quizzes Today</h1>
        </div>
        <div class="card p-1 shadow-lg text-center d-flex justify-content-center align-items-center">
            <div class="card-body">
                <table>
                    <tr>
                        <th>Chapter</th>
                        <th>Number of Questions</th>
                        <th>Duration</th>
                        <th> Actions </th>
                    </tr>
                    {% for quiz in quizzes %}
                    <tr>
                        <td>{{ quiz['name'] }}</td>
                        <td>{{ quiz['noq'] }}</td>
                        <td>{{ quiz['duration'] }}</td>
                        <td inline>
                            <a href="{{ url_for('view_quiz', quiz_id = quiz['id']) }}" class="btn btn-primary">
                                View
                            </a>
                            <a href="{{ url_for('start_quiz', quiz_id = quiz['id']) }}" class="btn btn-danger">
                                Start
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
            
    </div>
    <div class="container vw-100"  style="text-align:center; align-items: center;">
        <div class="container vw-100 p-4" style="text-align: center;">
            <h1>Upcoming Quizzes</h1>
        </div>
        <div class="card p-1 shadow-lg ext-center d-flex justify-content-center align-items-center  ">
            <div class="card-body">
                <table>
                    <tr>
                        <th>Chapter</th>
                        <th>Number of Questions</th>
                        <th>Date</th>
                        <th>Duration</th>
                        <th> Actions </th>
                    </tr>
                    {% for quiz in upcoming_quizzes %}
                    <tr>
                        <td>{{ quiz['name'] }}</td>
                        <td>{{ quiz['noq'] }}</td>
                        <td>{{ quiz['date'] }}</td>
                        <td>{{ quiz['duration'] }}</td>
                        <td inline>
                            <a href="{{ url_for('view_quiz', quiz_id = quiz['id']) }}" class="btn btn-primary">
                                View
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
            
    </div>
</body>
<footer>

</footer>