<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    a {
        color: #000;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<header class="container p-4 vh-20 vw-100" style="font-size: 25px; text-align: left; margin-left:0px;">
    <div>
        <a href='/student/dashboard'>
            Home
        </a>
        <a href="{{ url_for('view_scores')}}">
            Scores
        </a>
        <a href="/student/summary">
            Summary
        </a>
        <a href="/student/logout">
            Log Out
        </a>
        <div style="position: absolute; right: 0; top: 0; padding-top: 20px; padding-right: 30px">
            <a href="/student/search">Search</a>
        <!--<input type="text" placeholder="Search" style="text-align: right; position: right">-->
        </div>
    </div>
</header>
<body>
    <div class="card p-4 shadow-lg">
        <div class="p-4" style="text-align: center;">
            <h1>Search</h1>
        </div>
        <form action="{{ url_for('student_search') }}" method="POST">
            <input type='text' id='query' name="query">

            <div class="mb-3">
                <input type="radio" value="subjects" name="option" class="radio">
                Subjects
            <br>
                <input type="radio" value="chapters" name="option" class="radio">
                Chapters
            <br>
                <input type="radio" value="quizzes" name="option" class="radio">
                Quizzes
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>         
    </div>
</body>
<footer>

</footer>